.video-item {
    display: flex ;
    flex-wrap: nowrap;
    align-items: center !important;
    cursor: pointer;
}

.video-item.item img {
    max-width: 180px;
}

.content {
    padding-left: 10px;
}

.description {
    color: #7a7878;
}